<form>
  <div class="form-group">
    <label for="exampleFirstName">First Name</label>
    <input type="text" class="form-control" id="exampleFirstName" aria-describedby="text" placeholder="Enter first name">
    <small id="exampleFirstNameDisplayer" class="form-text text-muted">Your first name is: .</small>
  </div>

  <div class="form-group">
    <label for="exampleLastName">Last Name</label>
    <input type="text" class="form-control" id="exampleLastName" aria-describedby="text" placeholder="Enter last name">
    <small id="exampleLastNameDisplayer" class="form-text text-muted">Your last name is: .</small>
  </div>

  <div class="form-group">
    <label for="exampleEmail">Email address</label>
    <input type="email" class="form-control" id="exampleEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="examplePassword">Password</label>
    <input type="password" class="form-control" id="examplePassword" placeholder="Password">
    <small id="passwordHelp" class="form-text text-muted">Your password is hidden.</small>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>